@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');
$mb: 15px;
$white: #fff;
$font-size: 18px;
$nn: none;
$pt: pointer;
$black: #000;
$primary1: #E60063;
$primary2: #235BDE;
$grad: linear-gradient(to right, $primary2 0%, $primary1 100%);

$primary-font: 'Poppins', sans-serif;
$regular-font: 'Roboto', sans-serif;

$theme:       #454cad;
$dark-text:   #5f6982;
